#xp,
#userInfo,
#pieChart {
    border: 1px solid #5a5555;
    width: 1000px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;

}

#legendPie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

#svgPlus,
#valid,
#fail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#valid,
#fail {
    margin-bottom: 10px;
    margin-top: 10px;
}

#validColor {
    display: none;
    height: 40px;
    width: 40px;
    background-color: aquamarine;
    margin-right: 20px;
}

#failColor {
    display: none;
    height: 40px;
    width: 40px;
    background-color: blue;
    margin-right: 20px;
}

.rectangle {
    fill: aquamarine;
    cursor: pointer;
}

.legendeTXT {
    display: none;
    font-size: 19px;
    text-anchor: middle;
}

#ordoneTitle {
    display: inline;
    font-size: 40px;
}

.ordoneLeg {
    display: inline;
    font-size: 18px;
}

#allInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    overflow-y: scroll;
    overflow-x: scroll;
}

#validAuditMess {
    visibility: visible;
    display: block;
}

#failedAuditMess {
    opacity: 1;
    width: 20px;
    height: 20px;
    display: block;
    visibility: visible;
}

/* .pie {
    width: 300px;
    background: blue;
    border-radius: 50%;
}

.pie circle {
    fill: none;
    stroke: aquamarine;
    stroke-width: 32;
    animation: rotate 1.5s ease-in;
}
 */