#xp,
#userInfo {
    border: 1px solid #5a5555;
    width: 1000px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.rectangle {
    fill: aquamarine;
}

#xp {}

#userInfo {
    margin-bottom: 10px;
    margin-top: 10px;
}

.legendeTXT {
    display: none;
    font-size: 19px;
    text-anchor: middle;
}

#ordoneTitle{
    display: inline;
    font-size: 40px;
}

.ordoneLeg{
    display: inline;
    font-size: 18px;
}

#allInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
